.sidebar-wrapper {
    display: flex;
    justify-content: space-between;
    background: black;
    align-items: center;
    flex-direction: column;
    &--title {
        font-size: 1.5rem;
        color: white;
    }
    &_microfront {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
        &--about {
            font-size: 1rem;
        }
        &--links {
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            width: 80%;
        }
    }
    .menu-text {
        size: 8px;
        color: white;
        margin-inline: 1.5rem;
    }
}
