.side-container {
    padding: 12px;
}

.container {
    height: 70vh;
    overflow: auto;
    width: 77%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:transparent;
}

.page-wrapper {
   display: flex;
    flex-direction: column;
    align-items: center;
    &_title {
        color: transparent;
        background-color: #DC143C;
        background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(255, 255, 255, .5) 25px, rgba(255, 255, 255, .5) 50px);    
        background-clip: text;
        animation: color 50s linear infinite;
        background-size: 200%;
    }
    &_body {
        overflow: hidden;
        justify-content: center;
        display: flex;
    }
}

